version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "5001:5001"
    environment:
      - MONGO_URI=mongodb://mongo:27017/interior-design-db
      - REDIS_URL=redis://redis:6379
    depends_on:
      - mongo
      - redis

  admin-panel:
    build: ./admin-panel
    ports:
      - "3000:80"
    environment:
      - VITE_API_URL=http://localhost:5000/api/v1

  web-app:
    build: ./web-app
    ports:
      - "80:80"
    environment:
      - VITE_API_URL=http://localhost:5000/api/v1

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"

volumes:
  mongo-data:
